@model Capa_de_Entidades.ProductoE

@using (Html.BeginForm("Comprar", "Productos", FormMethod.Post))
{

    <div id="dvDetalleClientes">
        <form action="/Productos/Detalle/" method="post">
            <div>
                <input type="number" value="@Model.id_producto" name="id" max="@Model.id_producto" min="@Model.id_producto" />
                <h4>Producto: @Model.nombre</h4>
                <hr />

                <dl class="dl-horizontal">

                    <input type="number" value="1" min="1" max="40" name="cantidad" class="form-control" />

                    <dt>
                        @Html.DisplayNameFor(model => model.precio_venta)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.precio_venta)
                    </dd>

                </dl>
            </div>
            <p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-info">Continuar compra</button>
                </div>
            </p>
        </form>
    </div>

}
