@model IEnumerable<Capa_de_Entidades.ProductoE>

@{
    ViewBag.Title = "IndexCliente";
    List<Capa_de_Entidades.Detalle_cotizacion> carrito = ViewBag.Carrito;
    List<Capa_de_Entidades.ProductoE> productos = ViewBag.Productos;
    int cotizacion = ViewBag.cotizacion;
    int estado = ViewBag.EstadoCarrito;
    Capa_de_Entidades.CotizacionE actual = new Dominio.CotizacionD().CotizacionPorID(cotizacion);
}

<h2>Compra Aqui tus Productos!</h2>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.nombre</h5>
                        <h6 class="card-subtitle mb-2 text-muted">No.Producto: @item.id_producto</h6>
                        <p class="card-text">Proveedor es : @item.id_proveedor</p>
                        <p class="card-text">Lote  : @item.num_lote</p>
                        <p class="card-text">Precio de venta : @item.precio_venta</p>
                        <p class="card-text">Precio de compra : @item.precio_compra</p>
                        <p class="card-text">Categoria : @item.id_categoria</p>

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-success btnComprar" id="@item.id_producto" name="@item.id_producto" data-toggle="modal" data-target="#ModalComprar">Comprar</button>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <li class="list-group-item list-group-item-primary"><center>Cotización</center></li>
                <br />
                <ul class="list-group">
                    @if (carrito.Count() != 0)
                    {
                        foreach (var item in carrito)
                        {
                            foreach (var item2 in productos)
                            {
                                if (item2.id_producto == item.id_producto)
                                {
                                    <a href="~/Productos/EliminarDetalle/@item.id_detalle_cotizacion" class="list-group-item list-group-item-action">(@item.cantidad)@item2.nombre   <span style="float:right">@String.Format("{0:C2}", item.total)</span></a>
                                    break;
                                }
                            }
                        }
                    }
                    else if (carrito.Count() == 0)
                    {
                        <li class="list-group-item">No hay nada por aquí</li>
                    }
                </ul>
                <br />
                @if (carrito.Count() != 0)
                {
                    <li class="list-group-item list-group-item-primary">Total:  <p align="right"> @String.Format("{0:C2}", actual.total)</p></li>
                    <br />
                    <button class="list-group-item list-group-item-action list-group-item-danger btnComprarCarrit" id="@carrito.Last().num_cotizacion" name="@carrito.Last().num_cotizacion" data-toggle="modal" data-target="#ModalCotizar"><center>Comprar</center></button>
                }

            </div>
        </div>
    </div>
    <div class="col-md-1">

    </div>
    
</div>

<div class="modal fade" id="ModalComprar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dvDetalleClientes"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalCotizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dvEliminarCliente"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
         $(document).ready(function () {
            $(".btnComprar").on("click", function () {
                var clienteId = $(this).attr("id");
                var _url = '/Productos/Detalle/' + clienteId;
                $.ajax({
                    type: "Get",
                    url: _url,
                    data: {},
                    async: false,
                    success: function (response) {
                        $('#dvDetalleClientes').html(response);
                    },
                    error: function (response) {
                        if (response.responseText != "") {
                            alert(response.responseText);
                        }
                    }
                });
            });
         });
               $(document).ready(function () {
            $(".btnComprarCarrit").on("click", function () {
                var clienteId = $(this).attr("id");
                var _url = '/Cotizacion/ComprarProducto/' + clienteId;
                $.ajax({
                    type: "Get",
                    url: _url,
                    data: {},
                    async: false,
                    success: function (response) {
                        $('#dvEliminarCliente').html(response);
                    },
                    error: function (response) {
                        if (response.responseText != "") {
                            alert(response.responseText);
                        }
                    }
                });
            });
        });
    </script>
}
