<!doctype html>
<html lang="en">
<head>
   
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PEPITOS S.A.</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/3ca8aac0a3.js" crossorigin="anonymous"></script>
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/Scripts/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>

                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                @if (Session["sesionRol"] == null && Session["sesionCli"] == null)
                {

                    <div class="btn-group">
                        <div class="btn-group dropleft" role="group">
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropleft</span>
                            </button>
                            <div class="dropdown-menu">

                                <a id="btnLoginCli" class="dropdown-item" data-toggle="modal" href="#ModalLoginCli">Cliente</a>
                                <a id="btnLogin" class="dropdown-item" data-toggle="modal" href="#ModalLogin">Empleados</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary">
                            Iniciar sesion
                        </button>
                    </div>

                }
                else if (Session["sesionRol"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-default btn-md" style="background-color:#6A0110 !important; color:#FFEEDE !important;" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                <strong class="nav-item active"> @Session["Usuario"].ToString()</strong>
                            </a>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col">
                                        <div class="btn-group-vertical btn-block">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col">
                                        <a href="@Url.Action("LogOut","Login")" class="btn btn-danger btn-sm btn-block">
                                            Cerrar Sesion
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>




                }
                else if (Session["sesionCli"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-default btn-md" style="background-color:#6A0110 !important; color:#FFEEDE !important;" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                <strong class="nav-item active"> @Session["nombre"].ToString()</strong>
                            </a>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col">
                                        <div class="btn-group-vertical btn-block">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col">
                                        <a href="@Url.Action("LogOut","Login")" class="btn btn-danger btn-sm btn-block">
                                            Cerrar Sesion
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                }
            </form>


            <!-- Right navbar links -->
        </nav>
        @if (Session["id_cli"] != null || Session["sesionRol"] != null)
        {
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="#" class="brand-link">
                    <img src="https://st4.depositphotos.com/18664664/23992/v/450/depositphotos_239923602-stock-illustration-object-oriented-programming-icon-trendy.jpg"
                         alt="AdminLTE Logo"
                         class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">PEPITOS S.A.</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                           
                            <li class="nav-item has-treeview">
                                @if (Session["id_cli"] != null)
                                {
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-users-cog"></i>
                                        <p>
                                            Mi cuenta
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Comprar", "IndexCliente", "Productos")
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Mis cotizaciones", "Index/" + (int)Session["id_cli"], "Cotizacion")
                                        </li>
                                    </ul>
                                }
                                else if (Session["sesionRol"] != null)
                                {
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-users-cog"></i>
                                        <p>
                                            Administracion
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Cargos", "Index", "Cargos", routeValues: null, htmlAttributes: new { id = "IndexCargos", @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Clasificacion", "Index", "Clasificacion", routeValues: null, htmlAttributes: new { id = "IndexClasificacion", @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Clientes", "Index", "Cliente", routeValues: null, htmlAttributes: new { id = "IndexClientes", @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Empleados", "Index", "Empleados", routeValues: null, htmlAttributes: new { id = "IndexEmpleados", @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Inventarios", "Index", "Inventario", routeValues: null, htmlAttributes: new { id = "IndexInventarios", @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Detalle de inventarios", "Index", "Detalle_Inventario", routeValues: null, htmlAttributes: new { id = "IndexDetalle_Inventario", @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Productos", "Index", "Productos", routeValues: null, htmlAttributes: new { id = "IndexProductos", @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Roles", "Index", "Rol", routeValues: null, htmlAttributes: new { id = "IndexRol", @class = "nav-link" })
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            @Html.ActionLink("Cotizaciones", "Index/" + 1, "Cotizacion")
                                        </li>
                                    </ul>
                                }

                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

        }
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1></h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                    <!-- /.row -->
                    <!-- /.row -->
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/LogIn/LogIn.js"></script>
    <script src="~/Scripts/LogIn/LogInCli.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    @*<script src="~/Scripts/js/bootstrap.bundle.js"></script>*@
    <!-- AdminLTE App -->
    <script src="~/Scripts/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/js/demo.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dvLogin"></div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalLoginCli" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dvLoginCli"></div>
            </div>

        </div>
    </div>
</div>

