@model IEnumerable<Capa_de_Entidades.PagosE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.couta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.couta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            <a href="~/Pagos/PagarPago/@item.id_pago" class="btn btn-danger">Pagar</a>
        </td>
    </tr>
}

</table>
